<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KUANYSH's BLOG</title>
</head>
<body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 30.07.2019, 09:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Today is nice day to publish this blog.</p>
        </div>

        <div>
            <p>published: 30.07.2019, 09:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Next time we will upload new things.</p>
        </div>
</body>
</html>
